@import "/src/styles/base/variables";

body{
    box-sizing: border-box;
}

.hero__top {
  display: flex;
  background-color: $navBackground;
  font-size: 0.6rem;
  align-items: center;
  height: 2rem;
  .hero_schedule {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .nav_top {
    margin-left: auto;
    margin-right: 3.5rem;
    text-align: center;
    justify-content: center;
    a {
      margin: 0 0.9rem;
    }
    span {
      color: $color;
    }
  }
  .login {
    margin-right: 1rem;
    font-weight: bold;
  }
}

.hero {
  display: grid;
  grid-template-columns: 15rem 1fr 1fr;
  .brand {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: $color;
    .logo_brand {
      padding-left: 1rem;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
      }
    }
    .text_brand {
      font-size: 1rem;
      font-weight: bolder;
    }
  }


    .nav_menu {
      display: flex;
      background-color: $primaryBackground;
      align-items: center;
      a {
        margin-right: 1rem;
        padding-left:1rem;
        font-size: 0.8rem;
      }

    }

    .nav_menu-right{
        background-color: $primaryBackground;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn {
            display: inline-block;
            width: 8rem;
            height: 2rem;
            font-size: 0.6rem;
            font-weight: bolder;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
          }
        a{
            margin-right: 0.5rem;
        }
    }
  }


/* 
  <header className="hero">
        <div className="logo-brand">
          <img src="https://picsum.photos/100/100" alt="MedLife Logo" />
        </div>
        <div className="text-brand">
          <h1>MEDLIFE</h1>
        </div>
        <nav className="nav-menu">
          <NavLink>CLINICS</NavLink>
          <NavLink>SERVICES</NavLink>
          <NavLink>DOCTORS</NavLink>
          <NavLink>TIMETABLE</NavLink>
          <NavLink>PAGES</NavLink>
          <NavLink>BLOG</NavLink>
          <NavLink>SHOP</NavLink>
          <NavLink>CONTACT</NavLink>
        </nav>
        <button className="btn btn-primary">
          <i className="fa-solid fa-phone"></i> +44 725-555-1234
        </button>
      </header>
*/
